/* grid layout 2 8 1 1 */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main{
    height: 600px;
    width: 300px;
    display: grid;
    grid-template-rows: 2fr 8fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: large;
    background: url(bg.png);
    background-size: cover;
    letter-spacing: 2px;
}

.top{
    grid-column: 1 / 3;
    color: white;
    background-color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    font-size: xx-large;
    font-weight: 700;
    letter-spacing: 9px;
}

.desc{
    font-weight: 300;
    font-size: smaller;
    letter-spacing: 3px;
}

.slogan{
    vertical-align: top;
}

.qr{
    grid-column: 1 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.date{
    grid-column: 1 / 3;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-weight: bold;
}

.col1{
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 0.5em;
}

.col2{
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 0.5em;
}

.price{
    grid-column: 1 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
}

.tck{
    font-weight: bold;
}

.borders{
    border: 1.5px solid black;
}

.extra{
    display: none;
}



@media (min-width: 900px){
    main{
        padding: 5px;
        grid-template-columns: 2.8fr 2.8fr 2.8fr 3.6fr;
        grid-template-rows: 7fr 3fr 2fr;
        height: 300px;
        width: 900px;
        background-size: contain;
        display: grid;
    }

    .top{
        flex-direction: column-reverse;
        background-color: transparent;
        grid-column: 1/span 3;
        grid-row: 1/span 2;
        color: black;
        border: 1px solid black;
    }

    .title{
        font-size: 60px;
        letter-spacing: 12px;
    }
    
    .qr{
        grid-row: 1 / span 4;
        grid-column: 4/5 ;
        border: 1px solid black;
    }

    .qr img{
        width: 75%;
    }


    .date{
        grid-column: 1/3;
        grid-row: 3/4;
    }
    
    .col1{
        width: 100%;
        height: 100%;
    }
    
    .col2{
        width: 100%;
        height: 100%;
    }
    
    .price{
        grid-column: 3/4;
        grid-row: 3/4;
    }
        
    .extra{
        grid-column: 1/4;
        grid-row: 4/5;
        height: 2em;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
        font-size: 14px;
        text-align: center;
    }

    .borders{
        border: 1px solid black;
    }
    
}

